*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	margin-top: 0px;
	padding: 0px;
	font-family: Calibri;
}

.contenedor{
	width: 98%;
	margin: auto;
}

.menu{
    text-align: right;
    margin-right: 50px;
}

.menu a{
	text-decoration: none;
	font-size: 20px;
	color: #009f8b;
	text-decoration-style: solid;
	margin: 0 10px 0 10px;
}

.img_radius{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 5px solid white;
}

.img_proyectos{
	width: 140px;
	height: 150px;
}

.contenido{
	width: 80%;
	margin: auto;
	border-color: red;
	margin-top: 20px;
}

.copy{
	font-size: 20px;
	text-align: center;
}

.sociales{
	width: 100%;
	text-align: center;
	font-size: 15px;
}

.sociales a{
	color: #333;
	text-decoration: none;
	border: 1px solid black;
	margin: 3px;
}


#info{
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}

.info{
	margin: 20px;
}

#info .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#info img{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 5px solid white;
}

#blog h3, h4{
	text-align: center;
}

#blog p{
	width: 280px;
}

#blog .contenedor{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#blog article{
	margin: 15px;
}

#blog img{
	width: 100%;
	max-width: 280px;
	height: 300px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    padding: 20px;
}
